<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/nlog-internal.log">
  <extensions>
    <add assembly="NLog.Web"/>
  </extensions>

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!--[變數] 文字樣板 -->
  <variable name="LayoutBase" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
  <variable name="LayoutDetail" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:${newline}${exception:format=tostring}}"/>
  <variable name="LayoutEvent" value="${date}: ${message} ${stacktrace}"/>
  
  <!--[變數] 檔案位置 -->
  <variable name="LogFileLocationBase" value="${basedir}/App_Data/Logs/nlog-base-${shortdate}.log"/>
  <variable name="LogFileLocationDetail" value="${basedir}/App_Data/Logs/nlog-detail-${shortdate}.log"/>
  <variable name="LogFileLocationArchive" value="${basedir}/App_Data/Logs/Archives/nlog-{#}.log"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <!--[設定] 寫入目標-->
  <targets>
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <!--
    Write events to a file with the date in the filename.
    -->
    
    <!--文字檔(每日產生)-->
    <target name="File" xsi:type="File" fileName="${LogFileLocationBase}" layout="${LayoutBase}" />

    <!--文字檔(僅保留特定周期內的資料)-->
    <target name="Archive"
        xsi:type="File"
        layout="${LayoutDetail}"
        fileName="${LogFileLocationDetail}"
        archiveFileName="${LogFileLocationArchive}"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="UTF-8" />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace) to "f"
    -->
    <logger name="*" levels="Info,Warn" writeTo="File" />
    <logger name="*" levels="Trace,Debug" writeTo="Archive" />
    <logger name="*" levels="Error,Fatal" writeTo="Archive" />    
  </rules>
</nlog>